main {
  .mat-toolbar {
    .mat-toolbar-row {
      > ul {
        padding-left: 20px;
      }

      .mat-button {
        color: #a8a8a8;

        &.active {
          color: #6093ed;
          &:after {
            content: '';
            width: 100%;
            height: 3px;
            background: #6093ed;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }

  .material-cards {
    overflow: auto;
    .material-card {
      margin: 15px;
      flex-basis: calc(25% - 30px);
      box-sizing: border-box;
      padding: 0 24px;
      > img {
        margin: 0 -24px 0 -24px;
      }

      .mat-card-content {
        position: relative;
        margin: 0 -24px;
        .id {
          position: absolute;
          top: -23px;
          background: #FFFFFF;
          padding: 4px 9px;
          left: 0;
        }

        .tags {
          padding: 0 8px;
          .tag {
            background: #5dbf47;
            display: inline-block;
            padding: 2px 8px;
            border-radius: 3px;
            color: #FFFFFF;
            margin: 2px 0;
          }
        }

        .name {
          text-align: center;
          padding: 15px 0;
        }
      }
    }
  }
}

.app-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
