<main>
  <mat-toolbar style="display: flex">
    <mat-toolbar-row>
      <ul style="display: flex;padding-left: 20px;flex-grow: 1;">
        <li>
          <button mat-button [class.active]="selectedStatus === 'new'">New</button>
        </li>
        <li>
          <button mat-button [class.active]="selectedStatus === 'scanning'">Scanning</button>
        </li>
        <li>
          <button mat-button [class.active]="selectedStatus === 'image-processing'">Image Processing</button>
        </li>
        <li>
          <button mat-button [class.active]="selectedStatus === 'shading'">Shading</button>
        </li>
        <li>
          <button mat-button [class.active]="selectedStatus === 'completed'">Completed</button>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="material-card">
    <img mat-card-image src="assets/images/shader-balls/mat0001.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div class="id">
        253
      </div>

      <div class="tags">
        <div class="tag">
          Paid
        </div>
      </div>

      <div class="description">
        <p>
          Bellini Pattern Black
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</main>
