<main fxLayout="column" fxFlex="1 1 100%">
  <mat-toolbar fxLayout>
    <mat-toolbar-row>
      <ul fxLayout fxFlex="1 1 auto">
        <li>
          <button mat-button routerLink="/materials" [class.active]="selectedStatus === 'new'"
                  [queryParams]="{status: 'new'}"
                  routerLinkActive="active">
            New
          </button>
        </li>
        <li>
          <button mat-button routerLink="/materials" [queryParams]="{status: 'scanning'}" routerLinkActive="active">
            Scanning
          </button>
        </li>
        <li>
          <button mat-button routerLink="/materials" [queryParams]="{status: 'imageProcessing'}"
                  routerLinkActive="active">Image Processing
          </button>
        </li>
        <li>
          <button mat-button routerLink="/materials" [queryParams]="{status: 'shading'}" routerLinkActive="active">
            Shading
          </button>
        </li>
        <li>
          <button mat-button routerLink="/materials" [queryParams]="{status: 'completed'}" routerLinkActive="active">
            Completed
          </button>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="material-cards" appInfiniteScroll (loadMore)="getMaterials(selectedStatus)">
    <div fxLayout fxLayoutWrap>
      <mat-card class="material-card" *ngFor="let material of materials" [routerLink]="['/materials', material.id]"
                queryParamsHandling="preserve">
        <img mat-card-image [src]="material.gallery_image" alt="Material Image">
        <mat-card-content>
          <div class="id">
            {{ material.id }}
          </div>

          <div class="tags">
            <div class="tag" *ngFor="let tag of material.tags">
              {{ tag }}
            </div>
          </div>

          <div class="name">
            <p>
              {{ material.name }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>

<mat-progress-spinner *ngIf="isLoading" class="app-loader" [mode]="'indeterminate'" [color]="'primary'">
</mat-progress-spinner>

<router-outlet></router-outlet>
