<main fxLayout="column" fxFlex="1 1 100%">
  <mat-toolbar fxLayout>
    <mat-toolbar-row>
      <ul fxLayout fxFlex="1 1 auto">
        <li>
          <button mat-button [class.active]="selectedStatus === 'new'">New</button>
        </li>
        <li>
          <button mat-button [class.active]="selectedStatus === 'scanning'">Scanning</button>
        </li>
        <li>
          <button mat-button [class.active]="selectedStatus === 'image-processing'">Image Processing</button>
        </li>
        <li>
          <button mat-button [class.active]="selectedStatus === 'shading'">Shading</button>
        </li>
        <li>
          <button mat-button [class.active]="selectedStatus === 'completed'">Completed</button>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="material-cards" appInfiniteScroll (loadMore)="getMaterials()">
    <div fxLayout fxLayoutWrap>
      <mat-card class="material-card" *ngFor="let material of materials">
        <img mat-card-image [src]="material.gallery_image" alt="Material Image">
        <mat-card-content>
          <div class="id">
            {{ material.id }}
          </div>

          <div class="tags">
            <div class="tag" *ngFor="let tag of material.tags">
              {{ tag }}
            </div>
          </div>

          <div class="name">
            <p>
              {{ material.name }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>

<mat-progress-spinner *ngIf="isLoading" class="app-loader" [mode]="'indeterminate'" [color]="'primary'">
</mat-progress-spinner>
