<main class="open">
  <div class="overlay"></div>
  <div class="container">
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>
    <p>Modal window text</p>

    <button class="close-btn">&#10005;</button>
  </div>
</main>
