<main fxLayout>
  <mat-toolbar color="primary" fxLayout>
    <mat-toolbar-row>
      <div class="icon img-responsive app-logo" fxHide.xs="true">
        <img src="assets/images/colormass-logo-cm.svg" alt="app logo"/>
      </div>

      <ul fxLayout fxFlex="1 1 auto" [ngStyle.gt-xs]="{'padding-left.px': 20}">
        <li>
          <button mat-button>Models</button>
        </li>
        <li>
          <button [routerLink]="['/materials']" routerLinkActive="active" mat-button>Materials</button>
        </li>
        <li>
          <button mat-button>Images</button>
        </li>
        <li>
          <button mat-button>Users</button>
        </li>
        <li>
          <button mat-button>Customers</button>
        </li>
        <li>
          <button mat-button>Tags</button>
        </li>
      </ul>

      <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.xs="true">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Option 1</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Option 2</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Option 3</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</main>
