<main>
  <mat-toolbar color="primary" style="display: flex">
    <mat-toolbar-row>
      <div class="icon img-responsive app-logo">
        <img src="assets/images/colormass-logo-cm.svg" alt="app logo"/>
      </div>

      <ul style="display: flex;padding-left: 20px;flex-grow: 1;">
        <li>
          <button mat-button>Models</button>
        </li>
        <li>
          <button [routerLink]="['/materials']" routerLinkActive="active" mat-button>Materials</button>
        </li>
        <li>
          <button mat-button>Images</button>
        </li>
        <li>
          <button mat-button>Users</button>
        </li>
        <li>
          <button mat-button>Customers</button>
        </li>
        <li>
          <button mat-button>Tags</button>
        </li>
      </ul>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</main>
